* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
body {
  background-color: gray;
}
.decore {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 420px) {
  .media {
    text-align: center;
  }

  .img {
    height: 250px !important;
    width: 100% !important;
  }
  td {
    font-size: 2rem !important;
    text-align: center !important;
  }
  button {
    width: fit-content !important;
    font-size: 1rem !important;
  }
  .new {
    font-size: 0.8rem !important;
    width: 120px !important;
  }
  .hidden {
    /* display: none; */
  }
  .mediaquery {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .tr > td {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
